@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius Unicase', cursive;
}

body{
    background: url(../img/pattern-logos-characters-bd1f26898b2027c98ce8ba17c084f523.png),linear-gradient(180deg,#eee1d4 16%,#c09f7d 76%);
    padding: 10px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: 1fr;
    row-gap: 10px;
}


.contenedor_calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    grid-column: 1;
    grid-row: 2/4;
}

.calculadora{
    width: 24rem;
    height: 34rem;
    background-image:url(../img/new.png);
    background-repeat:no-repeat;
    background-size: 420px 550px;
    padding: 25px;
    border-bottom: 2px solid rgb(59, 3, 3);
    border-radius: 70px;
    box-shadow: 0 0 10px rgb(1, 91, 96);
    display: grid;
    grid-template-rows: 1fr 1.8fr;
    row-gap: 20px;
}

.calculadora__pantalla{
    background: linear-gradient(#e7fafa 0%, #06d0fd 100%);
    padding: 20px;
    display: flex;
    border-radius: 30px;
    word-wrap: break-word;
    flex-direction: column;
    align-items: end;
}

.calculadora__botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    row-gap: 10px;
    /* background-color: rgb(110, 82, 87); */
    align-items: center;
    justify-content: center;

}
.calculadora__botones div:nth-child(2){
    grid-column: 1/4;
    grid-row: 1;
    margin-left: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.calculadora__botones div:nth-child(3){
    grid-column: 4;
    grid-row: 5;
}

.calculadora__botones div:nth-child(5){
    grid-column: 4;
    grid-row: 1;
}

.calculadora__botones div:nth-child(4){
    grid-column: 4;
    grid-row: 2;
}

.calculadora__botones div:nth-child(1){
    grid-column: 3;
    grid-row: 5;
}

.calculadora__botones div:nth-child(7){
    grid-column: 4;
    grid-row: 3;
}

.calculadora__botones div:nth-child(6){
    grid-column: 4;
    grid-row: 4;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    color:#232323;
    font-size: 1.5rem;
    margin: auto;
    font-weight: 500;
    cursor: pointer;
}

.btn_blanco{
    background-color: #fff;
}

.btn_degradado{
    background: linear-gradient(#FF8A00, #DCFF04);
}
.btn:hover{
    color: rgb(148, 0, 0);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(87, 42, 0);
}

.btn_limpiar{
    background-color: transparent;
    background-image:url(../img/hongo-mario-bros-png.png);
    background-repeat:no-repeat;
    background-size: 70px;
    background-position:center;
    border-radius: 50px;
    cursor: pointer;
}

header .titulo_principal{
    text-align: center;
    padding-top: 50px;
    color: #5a2c03;
    text-shadow: 1px 1px 10px rgb(251, 235, 197);
}

.result {
    font-size: 1.5rem;
}